* {
    /* Color brightness organized from top to bottom, ligther to darker color */
    --gray-50: rgb(255 251 235) !important;
    --gray-100: rgb(254 243 199) !important;
    --gray-200: rgb(253 230 138) !important;
    --gray-300: rgb(252 211 77) !important;
    --gray-400: rgb(251 191 36) !important;
    --gray-500: rgb(245 158 11) !important;
    --gray-600: rgb(217 119 6) !important;
    --gray-700: rgb(180 83 9) !important;
    --gray-800: rgb(146 64 14) !important;
    --gray-900: rgb(120 53 15) !important;
    --gray-950: rgb(69 26 3) !important;
  }
  