* {
    /* Color brightness organized from top to bottom, ligther to darker color */
    --gray-50: rgb(245 243 255) !important;
    --gray-100: rgb(237 233 254) !important;
    --gray-200: rgb(221 214 254) !important;
    --gray-300: rgb(196 181 253) !important;
    --gray-400: rgb(167 139 250) !important;
    --gray-500: rgb(139 92 246) !important;
    --gray-600: rgb(124 58 237) !important;
    --gray-700: rgb(109 40 217) !important;
    --gray-800: rgb(91 33 182) !important;
    --gray-900: rgb(76 29 149) !important;
    --gray-950: rgb(46 16 101) !important;
  }
  