* {
    /* Color brightness organized from top to bottom, ligther to darker color */
    --gray-50: rgb(255 247 237) !important;
    --gray-100: rgb(255 237 213) !important;
    --gray-200: rgb(254 215 170) !important;
    --gray-300: rgb(253 186 116) !important;
    --gray-400: rgb(251 146 60) !important;
    --gray-500: rgb(249 115 22) !important;
    --gray-600: rgb(234 88 12) !important;
    --gray-700: rgb(194 65 12) !important;
    --gray-800: rgb(154 52 18) !important;
    --gray-900: rgb(124 45 18) !important;
    --gray-950: rgb(67 20 7) !important;
  }
  