* {
    /* Color brightness organized from top to bottom, ligther to darker color */
    --gray-50: rgb(236 254 255) !important;
    --gray-100: rgb(207 250 254) !important;
    --gray-200: rgb(165 243 252) !important;
    --gray-300: rgb(103 232 249) !important;
    --gray-400: rgb(34 211 238) !important;
    --gray-500: rgb(6 182 212) !important;
    --gray-600: rgb(8 145 178) !important;
    --gray-700: rgb(14 116 144) !important;
    --gray-800: rgb(21 94 117) !important;
    --gray-900: rgb(22 78 99) !important;
    --gray-950: rgb(8 51 68) !important;
  }
  